{% extends "base.html" %}

{% block title %}
New user
{% endblock %}

{% block content %}

<h1 class="display-4">Create</h1>
<p class="lead">Este é um simples componente jumbotron para chamar mais atenção a um determinado conteúdo ou
    informação.</p>

<hr class="my-4">
<p>Ele usa classes utilitárias para tipografia e espaçamento de conteúdo, dentro do maior container.</p>

<form action="{{url_for('add_user')}}" method="POST" autocomplete="on">
    <div class="form-group">
        <label for="username"></label>
        <input type="text" name="username" id="username" class="form-control" placeholder="Username" required>

        <label for="email"></label>
        <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>

        <input type="submit" value="Submit" style="margin-top: 1rem;">
    </div>
</form>

{% endblock %}